In [1]:
import pandas as pd

In [2]:
#  Criando um dataframe de acordo com o lyout da pagina e dos dados do arquivo.

colspec=[(2,10),
         (10,12),
         (12,24),
         (27,39),
         (56,69),
         (69,82),
         (82,95),
         (108,121),
         (152,170),
         (170,188)
    
     ]

name = ['data_do_pregao','codigo_BDI','sigla_acao','nome_acao','preco_abertura',
        'preco_max','preco_min','preco_fechamento','qtde_negocio','volume_negocio']

df = pd.read_fwf('COTAHIST_A2020.TXT', colspecs=colspec, names=name, skiprows=1)

In [3]:
df.head()

,data_do_pregao,codigo_BDI,sigla_acao,nome_acao,preco_abertura,preco_max,preco_min,preco_fechamento,qtde_negocio,volume_negocio
0,20200102,2.0,AALR3,ALLIAR,1829.0,1900.0,1828.0,1900.0,585800.0,1.094620e+09
1,20200102,2.0,AAPL34,APPLE,12000.0,12134.0,12000.0,12134.0,12700.0,1.533380e+08
2,20200102,2.0,ABCB4,ABC BRASIL,2000.0,2030.0,1982.0,2030.0,870400.0,1.745788e+09
3,20200102,2.0,ABEV3,AMBEV S/A,1886.0,1925.0,1878.0,1920.0,16011300.0,3.062348e+10
4,20200102,2.0,ADHM3,ADVANCED-DH,255.0,255.0,235.0,248.0,193400.0,4.719270e+07

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1251647 entries, 0 to 1251646
Data columns (total 10 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   data_do_pregao    1251647 non-null  object
 1   codigo_BDI        1251647 non-null  float64
 2   sigla_acao        1251647 non-null  object
 3   nome_acao         1251647 non-null  object
 4   preco_abertura    1251646 non-null  float64
 5   preco_max         1251646 non-null  float64
 6   preco_min         1251646 non-null  float64
 7   preco_fechamento  1251646 non-null  float64
 8   qtde_negocio      1251646 non-null  float64
 9   volume_negocio    1251646 non-null  float64
dtypes: float64(7), object(3)
memory usage: 95.5+ MB

 - Filtrando ações e Selecionando apenas o lote padrão

In [7]:
df = df[df['codigo_BDI'] == 2]
df = df.drop('codigo_BDI',1)

- Convertendo a data para formato datetime.

In [10]:
df['data_do_pregao'] = pd.to_datetime(df['data_do_pregao'],format= '%Y-%m-%d')

In [16]:
df

,data_do_pregao,sigla_acao,nome_acao,preco_abertura,preco_max,preco_min,preco_fechamento,qtde_negocio,volume_negocio
0,2020-01-02,AALR3,ALLIAR,1829.0,1900.0,1828.0,1900.0,585800,1.094620e+09
1,2020-01-02,AAPL34,APPLE,12000.0,12134.0,12000.0,12134.0,12700,1.533380e+08
2,2020-01-02,ABCB4,ABC BRASIL,2000.0,2030.0,1982.0,2030.0,870400,1.745788e+09
3,2020-01-02,ABEV3,AMBEV S/A,1886.0,1925.0,1878.0,1920.0,16011300,3.062348e+10
4,2020-01-02,ADHM3,ADVANCED-DH,255.0,255.0,235.0,248.0,193400,4.719270e+07
...,...,...,...,...,...,...,...,...,...
294499,2020-12-28,Z1TO34,ZTO EXPRESS,3672.0,3672.0,3672.0,3672.0,37,1.358640e+05
294500,2020-12-29,Z1TO34,ZTO EXPRESS,3631.0,3631.0,3631.0,3631.0,100,3.631000e+05
294501,2020-12-30,Z1TO34,ZTO EXPRESS,3809.0,3809.0,3750.0,3750.0,61,2.295170e+05
294502,2020-12-23,Z1TS34,ZOETIS INC,20918.0,20918.0,20918.0,20918.0,50,1.045900e+06
294503,2020-12-28,Z1TS34,ZOETIS INC,21214.0,21359.0,21214.0,21359.0,2,4.257300e+04